@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 51, 65, 85;
  /* Slate 700 for text */
  --background-start-rgb: 253, 228, 236;
  /* Soft Baby Pink */
  --background-end-rgb: 255, 240, 245;
  /* Lavender Blush */
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(135deg,
      rgb(var(--background-start-rgb)),
      rgb(var(--background-end-rgb)));
  min-height: 100vh;
}

@layer utilities {
  .glass-panel {
    background-color: rgba(255, 255, 255, 0.4);
    backdrop-filter: blur(12px);
    border: 1px solid rgba(255, 255, 255, 0.5);
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05);
    border-radius: 0.75rem;
  }

  .glass-panel-hover:hover {
    background-color: rgba(255, 255, 255, 0.6);
    transition-duration: 300ms;
  }
}